<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css">
    <title></title>
  </head>
  <body>
    <div class="front jumbotron">
  <h1 class="hd display-4">Hello!</h1>
  <h1 class="front-para display-4">Welcome to Lyv-write</h1>
  <p class="lead">The ultimate place for all your life events.</p>
<hr />
<div class="front-links">
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
</div>
</div>
  </body>
</html>
